@import url(http://fonts.googleapis.com/css?family=VT323);

@font-face {
  font-family: Boombox;
  src: url("fonts/Boombox.otf") format("opentype"); }

body {
  background: black;
  color: #FAFFBD;
  font-family: 'Boombox';
  font-size: 18px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}


h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #FAFFBD;
}

a {
  color: #FAFFBD;
  font-size: 20px;
}

.alert-block h4{
  color: white;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  color: black;
}
.form-signin h2{
	color: black;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-characters input.ng-invalid.ng-dirty {
  background-color: #78FA89;
}
.form-characters input.ng-valid.ng-dirty {
  background-color: #78FA89;
}



.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup {
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -o-transition: .2s linear all;
  transition: .2s linear all;
  position:relative;
}

.custom-enter-setup {
  left:-10px;
  opacity:0;
}
.custom-enter-setup.custom-enter-start {
  left:0;
  opacity:1;
}

.custom-leave-setup {
  left:0;
  opacity:1;
}
.custom-leave-setup.custom-leave-start {
  left:-10px;
  opacity:0;
}

.custom-move-setup {
  opacity:0.5;
}
.custom-move-setup.custom-move-start {
  opacity:1;
}

.button {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Boombox';
  font-size: 18px;
  padding-bottom: 6px;
  color: #33b5e5;
}

input {
  background-color: black;
  color: white;
  font-family: 'Boombox';
}

.footer {
  color: gray;
  font-size: 10px;
  padding: 10px;
}