<div class="row-fluid">
	<div class="span12">
		<div class="gangster" id="gangster0">
			<p>{{selected_character.charactername}} is coming to the end of another long day at the motorpool, he/she is just fixing up a very sweet flying car for a some rich kid when the police comes looking for you.</p>
			<button type="button" id="option101">Steal the car and make a run for it</button>
			<button type="button" id="option102">Surrender without question</button>
		</div>

		<div class="gangster" id="ganster1">
			<p>You mow past the stuff while reffing up the engine. The copper you can see running towards his own vehicle while calling for baxk up on the ground below. His back-up won't be here in time. This chase will be decided by you and him.</p>
			<p>You turn on your car radio. The traffic channel was reporting on jams and incidents all over the city. </p>
			<button type="button" id="option103">Go left</button>
			<button type="button" id="option104">Go right</button>
		</div>
	</div>
</div>