<div class="row-fluid">
	<script>		
		function Continue (parameter) {
			$.post('/api/characters', {progress: parameter}, function(response){
				console.log()
			})
		}
	</script>
	<div class="span12">
		<div id="mechanic0">
			<p>{{selected_character.charactername}} is coming to the end of another long day at the motorpool, <span id="theman">he</span><span id="thewoman">she</span> is just fixing up a very sweet flying car for a some rich kid when the police comes looking for you.</p>
			<br/>
			<button type="button" class="button" id="option1">Steal the car and make a run for it</button>
			<button type="button" class="button" id="option2">Surrender without question</button>
		</div>

		<div class="mechanic" id="mechanic1">
			<p>You mow past the stuff while reffing up the engine. The copper you can see running towards his own vehicle while calling for baxk up on the ground below. His back-up won't be here in time. This chase will be decided by you and him.</p>
			<p>You turn on your car radio. The traffic channel was reporting on jams and incidents all over the city. You maybe a wanted {{selected_character.gender}} but the street are on your side.</p>
			<br/>
			<button type="button" class="button" id="option3">Go left</button>
			<button type="button" class="button" id="option4">Go right</button>
			<button type="button" class="button streetracing" id="raceskill1">Make him crash</button>
			<button type="button" class="button streetracing" id="raceskill2">Disappear into the alleyways</button>
		</div>

		<div class="mechanic" id="mechanic2">
			<p>The cop approaches you while his partner nonchalantly starts inspecting the workbench behind you. They've locked you in. No choice now but to cooperate.</p>
			<p>The cop starts talking to you about your whereabouts last night.</p>
			<br/>
			<button type="button" class="button" id="option5">Tell the truth</button>
			<button type="button" class="button" id="option6">Make something up</button>
		</div>

		<div class="mechanic" id="mechanic3">
			<p>You get caught</p>
			<br/>
		</div>

		<div class="mechanic" id="mechanic4">
			<p>You are arrested.</p>
			<br/>
		</div>

		<div class="mechanic" id="mechanic5">
			<p>You get away</p>
			<button type="button" class="button" id="continue1" onclick="Continue(12)">Continue</button>
		</div>
		<div class="mechanic" id="mechanic6">
			<p>You get sent to jail</p>

			<button type="button" class="button" id="continue2" onclick="Continue(11)">Continue</button> 
		</div>
		<div class="mechanic" id="mechanic7">
			<p>You go home</p>
			<button type="button" class="button" id="continue3" onclick="Continue(13)">Continue</button>

		</div>

		<script>
			$(document).ready(function(){
				$(".mechanic").hide()
				$("#option1").click(function(){
					$("#option1").hide()
					$("#option2").hide()
					$("#mechanic1").show()
				})
				$("#option2").click(function(){
					$("#option1").hide()
					$("#option2").hide()
					$("#mechanic2").show()
				})
				$("#option3").click(function(){
					$("#option3").hide()
					$("#option4").hide()
					$(".streetracing").hide()
					$("#mechanic5").show()
				})
				$("#option4").click(function(){
					$("#option3").hide()
					$("#option4").hide()
					$(".streetracing").hide()
					$("#mechanic3").show()
					$("#mechanic4").show()
					$("#mechanic6").show()
				})
				$(".streetracing").click(function(){
					$("#option3").hide()
					$("#option4").hide()
					$(".streetracing").hide()
					$("#mechanic5").show()
				})
				$("#option5").click(function(){
					$("#option5").hide()
					$("#option6").hide()
					$("#mechanic4").show()
					$("#mechanic6").show()
				})
				$("#option6").click(function(){
					$("#option5").hide()
					$("#option6").hide()
					$("#mechanic7").show()
				})

			})

		</script>
	</div>
</div>